@media (prefers-color-scheme: light) {
:root {
  --background-colour: #f4f3fa;
  --text-colour: #050505;
  --navigation-bar-background: #fcf9fa;
  --navigation-bar-text: #e7b9d9;
  --link-hover: #c2185b;
  --accent-colour: #ff69b4;
  --font-main: 'Segoe UI', 'Arial', sans-serif;
  --font-alt: 'Georgia', serif;
  --bullet-point-colour: hotpink;
  }
} 

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #2b2b2b;
    --text-colour: #f0f0f0;
    --navigation-bar-background: #880e4f;
    --navigation-bar-text: #fff;
    --link-hover: #f06292;
    --accent-colour: #ff80ab;
    --bullet-colour: #ff80ab;
  }
}

/* Reset and Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-family: var(--font-main);
  font-size: large;
  line-height: 1.6;
  text-align: left;
  padding-bottom: 4rem;
}

main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: left;
}

/* Navigation Bar */
nav {
  background-color: var(--navigation-bar-background);
  color: var(--navigation-bar-text);
  padding: 1rem;
  text-align: right;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: var(--navigation-bar-text);
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--link-hover);
  border-bottom: 2px solid var(--accent-colour);
}

/* Footer */
footer {
  background-color: var(--navigation-bar-background);
  color: var(--navigation-bar-text);
  padding: 1rem;
  font-size: large;
  text-align: center;
}


/* Flexbox  */

.flex-container {
  display: flex;
  background-color: rgba(7, 7, 7, 0.655);
}

.flex-container > div {
  background-color: #efededa5;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    position: sticky;
  }

  main {
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
  }

  body {
    padding-bottom: 70px;
  }
}